.hide-without-data {
  display: none;
}

select.error-message,.error-message select, .error-message input, .error-message label {
  border-color:red;
}

p.error-message  {
  color: #DF4E13;
  font-size: 80%;
  line-height: 1.2944 !important;
}

label.required::after {
  content: "*";
  font-size: smaller;
  color: red;
  position: relative;
  top: -0.3em;
  white-space: nowrap;
}
