#storyline-config {
  display: none;
}

#create-button-wrapper {
  display: none;
}

select.error-message,.error-message select, .error-message input, .error-message label {
  border-color:red;
}

p.error-message  {
  color: #DF4E13;
  font-size: 80%;
  line-height: 1.2944 !important;
}
