<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
                Storyline JS
        </title>
        <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.css"/>
				<link rel="stylesheet" href="/css/website.css" />

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/manifest.json">
        <link rel="mask-icon" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <!-- /favicons -->

        <!-- Meta -->
        <meta name="keywords" content="story, news, chart, create, twitter, journalism, line-chart">
        <meta name="description" content="Tell the story behind the numbers." />
        <!-- /Meta -->

        <!-- Open Graph -->
        <meta property="fb:app_id" content="963588407028336" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Storyline" />
        <meta property="og:description" content="Tell the story behind the numbers." />
        <meta property="og:image" content="https://storyline.knightlab.com/screenshot-storyline.png" />
        <meta property="og:url" content="https://storyline.knightlab.com" />
        <meta property="og:site_name" content="Storyline JS" />
        <!-- /Open Graph -->

        <!-- Twitter Card -->
        <meta name="twitter:title" content="Storyline" />
        <meta name="twitter:description" content="Tell the story behind the numbers." />
        <meta name="twitter:image" content="https://storyline.knightlab.com/screenshot-storyline.png" />
        <meta name="twitter:site" content="@knightlab" />
        <meta name="twitter:creator" content="@knightlab" />
        <!-- /Twitter Card -->

				<script src="https://cdn.knightlab.com/libs/orangeline/latest/js/main.js" charset="utf-8"></script>
			  <script src="/js/website.js" charset="utf-8"></script>

    </head>


    <body>
        <nav id="navbar-product-top" class="navbar navbar-dark">
            <ul>
                <li class="logo">
                    <a href="http://knightlab.com">
                        <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/knightlab-dark.png" />
                    </a>
                </li>
            </ul>
            <div class="nav-mobile-menu">
                <button class="button-plain">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <ul class="nav-right navbar-nav">
                <li><a class="button button-dark button-small-tablet button-active" href="http://knightlab.northwestern.edu/projects/">Projects</a></li>
                <li><a class="button button-dark button-small-tablet " href="https://studio.knightlab.com">Studio</a></li>
                <li><a class="button button-dark button-small-tablet " href="https://devicelab.knightlab.com">Device Lab</a></li>
                <li><a class="button button-dark button-small-tablet " href="http://knightlab.northwestern.edu/posts/">Posts</a></li>
                <li><a class="button button-dark button-small-tablet " href="http://openlab.knightlab.com">Community</a></li>
                <li><a class="button button-dark button-small-tablet " href="http://knightlab.northwestern.edu/about/">About</a></li>
            </ul>
        </nav>

        <header class="header-product">
        	<h1 class="product-logo product-logo-large">
                Storyline <span>JS</span>
            </h1>
        	<h2 class="product-tagline">Tell the story behind the numbers.</h2>
                <a class="button button-secondary button-large button-small-phone" href="#make">Make a Storyline</a>
            <nav id="navbar-secondary" class="navbar navbar-subnav">
                <ul>
                    <li class="logo">
                        <h2 class="product-logo product-logo-smallest">
                            <a href="#">
                                Storyline <span>JS</span>
                            </a>
                        </h2>
                    </li>
                </ul>
                <ul class="navbar-nav">
                        <li><a class="button" href="#overview">Overview</a></li>
                        <li><a class="button" href="#make">Make a Storyline</a></li>
                        <li><a class="button" href="#help">Help</a></li>
                </ul>
            </nav>
        </header>

        <article id="product-body">
            <section id="demo" class="container-fluid">
                <div class="product-demo">
                    <iframe src="from-example.html" style="width: 100%; height: 500px" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>
                </div>

            </section>
            <section id="overview" class="container">
            	<div class="grid-size-2 grid-size-1-phone">
            		<div class="grid-item">

            			<p>
                            <strong>Storyline is an open-source tool that enables anyone to build an annotated, interactive line chart.</strong>
                            To make Storyline as flexible as possible, we've just included the chart, axis labels, and cards. Headlines, context, more specifics on the data sources and credits--we expect you'll include what you want outside of Storyline. We built the chart up top using <a href="https://fred.stlouisfed.org/series/MEHOINUSA672N" target="_blank">Real Median Household Income data from FRED</a>.
                        </p>
            		</div>
            		<div class="grid-item">
            			<h3 style="margin-top:0;">Things to know</h3>
            			<ol>
            				<li>We’re focused on time series line charts for now. The x-axis will accept only time/date formats.</li>
            				<li>Our mobile-first design requires you to keep it short. No more than 12 cards per story, titles limited to 54 characters, and paragraphs limited to 200 characters.</li>
            				<li>Storyline works best with fewer than 800 data points.</li>
            			</ol>

            		</div>
            	</div>

            </section>

            <section class="section-color section-color-complement" id="make">
                <div class="container">
                    <h2>Make a Storyline</h2>
                    <p>
                        Storyline JS works on any site or blog. Make your own in just a few steps.<br>
                        <span class="small"><em>Having trouble? Check the <a href="#help">help section below</a>.</em></span>
                    </p>

                    <div class="grid grid-flex-item">
                        <div class="grid-item">
                            <a class="button button-complement button-full-width" href="#make-step-1">
                                <span class="text-fontFamily-sansSerif text-color-complement--light" style="font-size: 6.56608em;font-weight: 700;line-height: 1;">1</span>
                                <h4 style="font-weight:normal">Put your data in Google Sheets</h4>
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="button button-complement button-full-width" href="#make-step-2">
                                <span class="text-fontFamily-sansSerif text-color-complement--light" style="font-size: 6.56608em;font-weight: 700;line-height: 1;">2</span>
                                <h4 style="font-weight:normal">Add your story</h4>
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="button button-complement button-full-width" href="#make-step-3">
                                <span class="text-fontFamily-sansSerif text-color-complement--light" style="font-size: 6.56608em;font-weight: 700;line-height: 1;">3</span>
                                <h4 style="font-weight:normal">Configure and Publish</h4>
                            </a>

                        </div>
                    </div>

                    <ol class="instructional-steps">
                        <li class="step grid" id="make-step-1">
        <div class="step-number column-2">
            <h6>Put your data in Google Sheets</h6>
        </div>
        <div class="step-details column-10">
            <p>
                To make a storyline, you will need to put a spreadsheet with the data for your chart on <a href="https://docs.google.com/spreadsheets" target="_blank">Google Sheets</a>.
            </p>

            <div class="grid">
                <div class="grid-item">

                    <p>
                        Your sheet needs to have a <strong>date/time</strong> column and a <strong>data</strong> column. <em>(If it has more than two columns, that's no problem.)</em> There needs to be a header row with titles for those columns.
                    </p>
                    <p class="small">
                        <em>(If your data doesn't already have a header row, add one and give your columns titles.)</em>
                    </p>
                </div>
                <div class="grid-item">
                    <img src="spreadsheet.png" />
                </div>
            </div>
        </div>
    </li>

                        <li class="step grid" id="make-step-2">
        <div class="step-number column-2">
            <h6>Add your story</h6>
        </div>
        <div class="step-details column-10">
            <div class="grid">
                <div class="grid-item">
                    <p>
                        Your story is told through a series of cards explaining details about various points in your data. Each card has a <strong>title</strong>, <strong>text</strong>, and a <strong>date</strong>. The date comes from a column already in your data, but you'll need to add columns for the <em>title</em> and <em>text</em>.
                    </p>
                    <p>
                        Go to your Google spreadsheet and columns for <em>title</em> and <em>text</em>.
                    </p>
                    <p>
                        Find the rows for the data you want to explain, and add text and title information.
                    </p>
                </div>
                <div class="grid-item">
                    <figure style="margin:0;">
                        <img src="card-annotation-spreadsheet.png" />
                    </figure>
                </div>
            </div>


        </div>
    </li>

                        <li class="step grid" id="make-step-3">
        <div class="step-number column-2">
            <h6>Configure and Publish</h6>
        </div>
        <div class="step-details column-10">
            <h5>Publish the spreadsheet</h5>
            <div class="grid">
                <div class="grid-item">
                    <img src="publish-spreadsheet-1.png" />
                    <p>Under the File menu, select <em>“Publish to the Web.”</em></p>
                </div>
                <div class="grid-item">
                    <img src="publish-spreadsheet-2.png" />
                    <p>In the next window, click the blue <em>"publish"</em> button. When asked, <em>"Are you sure…?"</em> click <em>OK</em>.</p>
                </div>
                <div class="grid-item">
                    <img src="publish-spreadsheet-3.png" />
                    <p>Now, copy the URL that appears in the center of the window.</p>
                </div>

            </div>
            <div class="panel">
                <h5>Configure your Storyline</h5>
                <p>
                    Copy/paste spreadsheet URL into the box below.
                    <span class="small"><em>(Make sure you've published the spreadsheet.)</em></span>
                </p>

                <form id="configure-form">
                    <div id="spreadsheet_url_wrapper" class="input-group-label">
                        <label class="input-group-addon" for="spreadsheet_url">Google Spreadsheet URL</label>
                        <input type="text" id="spreadsheet_url" name="spreadsheet_url" placeholder="place link to spreadsheet here" data-com.agilebits.onepassword.user-edited="yes">
                        <button id="load-btn" class="button button-secondary" style="margin-top:.9rem;min-width:120px;">Load</button>
                    </div>
										<div id="spreadsheet_url_message"></div>
                    <p class="small text-color-grey--dark" ><em>Just want to give it a try? <a id="prefill-spreadsheet-url" data-url="https://docs.google.com/spreadsheets/d/1Io856DYJmMrZrYgVAfxPdHRnTBrLlmGjJUKWbttp7Zs/pubhtml">Click to use our demo file.</a></em></p>

                    <div id="storyline-config" class=" hide-without-data">
                        <p id="demo-mode-message" class="small text-color-primary">
                            <em>We went ahead and filled in the form for you. Now just click 'Create Storyline'.</em>
                    	</p>
                    	<h5>Tell us more about how your spreadsheet is formatted.</h5>


                    	<div class="grid grid-left">
                    		<div class="column-4" style="text-align:right;">
                    			<h6>Time</h6>
                    		</div>
                    		<div class="column-4">
                    			<div class="flyout data-nav x-column">
                    				<label class="required" for="datetime_column_name">Which column has date/time information?</label>
                    				<select class="column-selector required" name="datetime_column_name" id="datetime_column_name">
                                        <option value=""> -- select -- </option>
                                    </select>
                    			</div>
                    		</div>

                    		<div class="column-4">
                    			<div class="flyout data-nav datetime-format-column">
                    				<label class="required" for="datetime_format">How are your dates formatted?</label>
                    				<select class="required" name="datetime_format" id="datetime_format">
                                        <!-- Can we use actual dates/times from the spreadsheet here (makes it less abstract) -->
                                        <option value=""> -- select -- </option>
                                        <option value="%Y">2017</option>
                                        <option value="%Y-%m-%d">2017-06-15</option>
                                        <option value="%m/%d/%y">06/15/17</option>
                                        <option value="%m/%d/%Y">06/15/2017</option>
                                        <option value="%d/%m/%y">15/06/17</option>
                                        <option value="%d/%m/%Y">15/06/2017</option>
                                    </select>
                    			</div>
                    		</div>
                    	</div>

                    	<div class="grid">
                    		<div class="column-4" style="text-align:right;">
                    			<h6>Data</h6>
                    		</div>
                    		<div class="column-4">
                    			<div class="flyout data-nav y-column">
                    				<label class="required" for="data_column_name">Which column has your data?</label>
                    				<select class="column-selector required" name="data_column_name" id="data_column_name">
                                        <option value=""> -- select -- </option>
                                    </select>
                    			</div>
                    		</div>

                    		<div class="column-4">
                    			<div class="flyout data-nav data_axis_label">
                    				<label class="required" for="data_axis_label">How should your data be labeled? <em>(y-axis)</em></label>
                    				<input type="text" id="data_axis_label" name="data_axis_label" value="">
                    			</div>
                    		</div>

                    	</div>

                    	<div class="grid">
                    		<div class="column-4" style="text-align:right;">
                    			<h6>Story Cards</h6>
                    		</div>

                    		<div class="column-4">
                    			<div class="flyout data-nav cards-title-column">
                    				<label class="required" for="title">Which column has the card titles?</label>
                    				<select class="column-selector required" name="title" id="title">
                                        <option value=""> -- select -- </option>
                                    </select>
                    			</div>
                    		</div>

                    		<div class="column-4">
                    			<div class="flyout data-nav cards-text-column">
                    				<label class="required" for="text">Which column has the card text?</label>
                    				<select class="column-selector required" name="text" id="text">
                                        <option value=""> -- select -- </option>
                                    </select>
                    			</div>
                    		</div>

                    	</div>

                    	<div class="grid">
                    		<div class="column-4" style="text-align:right;">
                    			<!-- More for the story cards -->
                    		</div>
                    		<div class="column-4">
                    			<div class="flyout data-nav card_date_format">
                    				<label for="card_date_format">How should the date look in your story?</label>
                    				<select name="card_date_format" id="card_date_format">
                                          <!-- Can we use actual dates/times from the spreadsheet here (makes it less abstract) -->
                                          <option value=""> -- same as spreadsheet -- </option>
                                          <option value="%Y">2017</option>
                                          <option value="%Y-%m-%d">2017-06-15</option>
                                          <option value="%m/%d/%y">06/15/17</option>
                                          <option value="%m/%d/%Y">06/15/2017</option>
                                          <option value="%d/%m/%y">15/06/17</option>
                                          <option value="%d/%m/%Y">15/06/2017</option>
                                          <option value="%B %d, %Y">June 15, 2017</option>
                                      </select>
                    			</div>
                    		</div>

                    		<div class="column-4">
                    		</div>

                    	</div>
                    	<div id='config-wrapper-message' class="grid">

                    	</div>
                        <div id="create-button-wrapper" class="grid hide-without-data" style="margin-top:3rem;">
                            <button style="text-align:center" id="generate-storyline-btn" class="button button-secondary button-large" handler="generateStoryline">Create Storyline</button>
                        </div>
                    </div>

                </form>

            </div>
            <div id="preview-embed" style="margin-top:4rem;">
                <h5>Share your Storyline</h5>
                <div class="grid">

                    <div class="column-8">
                        <div id="preview-embed-iframe" class="product-demo" style="background:white;margin:0;border-radius: 8px;">
                            <iframe src="" style="width:100%;height:650px;" frameborder="0" marginwidth="0" marginheight="0"  vspace="0" hspace="0"></iframe>
                        </div>
                    </div>

                    <div class="column-4">
                        <figure>
                            <h6>Embed</h6>
                            <form>
                                <textarea id="embed-code-textarea" readonly="readonly" value="">
                                </textarea>
                            </form>
                            <figcaption>
                                Grab the embed code and paste it on your site where you want your storyline to appear <em>(just like a YouTube video)</em>.
                            </figcaption>
                        </figure>
                        <figure>
                            <h6>Link</h6>
                            <form>
                                <textarea rows="2" id="direct-link-textarea" readonly="readonly" value="">
                                </textarea>
                            </form>
                            <figcaption>
                                Use this to share a direct link to your storyline.
                            </figcaption>
                        </figure>


                        <p class="small"><em>Something not quite right? Just edit the form above and click <em>"Create Storyline"</em> again.</em></p>
                    </div>

                </div>
            </div>

        </div>
    </li>

                    </ol>

                </div>

            </section>

            <section class="section container" id="help">

        <div class="grid">
            <div class="grid-item">
                <h2>Help</h2>
                <p>
                    Need help? First, please be sure to look at our list of <a href="#faq">frequently asked questions</a> below.
                </p>
                <p>
                    If you don't find an answer there,
										<!-- try our <a href="https://knightlab.zendesk.com/hc/en-us/categories/115000193171-StorylineJS">support forums</a> or  -->
										use our <a href="https://knightlab.zendesk.com/hc/en-us/requests/new">tech support web form.</a> <strong>Please be clear</strong> with your question, <strong>include a link to your spreadsheet</strong>, and if appropriate, a link to a page which shows the issue with which you need help. <strong>We can only answer support questions in English.</strong> We try to be prompt, but please understand that we do not have a dedicated tech support staff.
                </p>
                <p class="note">
                    <strong>Find a bug?</strong> If you are confident you have found a bug, please report it as <a href="https://github.com/NUKnightLab/storyline/issues">a GitHub issue</a>. Be sure to include detailed instructions on how to reproduce the bug. If you're not sure, please start with <a href="https://knightlab.zendesk.com/hc/en-us/requests/new">the tech support system</a>.
                </p>
            </div>
        </div>

        <div class="grid" id="faq">
        <div class="grid-item">
            <h3>Frequently asked questions</h3>
            <ul class="accordion">
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h3>How many data points can I use?</h3>
                        <div class="accordion-content">
                            Storyline works best with fewer than 800 data points.
                        </div>
                    </li>
										<li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h3>Can I have multiple lines of data?</h3>
                        <div class="accordion-content">
                            Right now you can only visualize one set of data.
                        </div>
                    </li>
										<li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h3>What languages are supported?</h3>
                        <div class="accordion-content">
                            Most of your storyline is based on data you provide, so language support mostly isn't an issue.
														The only exception is with the configuration question <em>How should the date look in your story?</em> One choice includes the month name, and for now, those month names are only available in English.
                        </div>
                    </li>
										<li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h3>Why am I getting a message that says "The date/time column is invalid"?</h3>
                        <div class="accordion-content">
                            This message comes up when StorylineJS can't find the dates in your data. Check these things:
														<ol>
															<li>Did you select the correct column?</li>
															<li>Did you specify the date format correctly?</li>
														</ol>
														<p>In some cases, it will look to you like you specified the date format correctly, but Google will actually send the date to use in a different format than what you see on your screen. If the end of the error message you see looks like this: <code>[date string: Tue Jul 06 1971 00:00:00 GMT-0500 (CDT) format %m/%d/%Y]</code> then that's what's happening.</p>
														<p>To fix this, highlight your whole date column. Then, from the <strong>Format</strong> menu, choose <strong>Number > Plain text</strong>.
															It may take a little while for the change to work. Clearing your browser cache or switching to a "private" or "incognito" browser window should help. 
														</p>
                        </div>
                    </li>
            </ul>
        </div>
    </div>


    </section>




        </article>

        <section class="moth--product" id="tools">
        <h3>Storytelling Tools</h3>
        <p class="product-tagline">We build easy-to-use tools that can help you tell better stories.</p>
        <div class="grid grid-size-4 grid-size-2-tablet grid-size-1-phone">
            <div class="grid-item">
                <a href="http://timeline.knightlab.com/" class="button button-dark">
                    <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png">
                    <h4 class="product-logo product-logo-small">Timeline <span>JS</span></h4>
                    <p class="product-tagline">Easy-to-make, beautiful timelines.</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="http://storymap.knightlab.com/" class="button button-dark">
                    <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-storymap.png">
                    <h4 class="product-logo product-logo-small">StoryMap <span>JS</span></h4>
                    <p class="product-tagline">Maps that tell stories.</p>

                </a>
            </div>
            <div class="grid-item">
                <a href="http://juxtapose.knightlab.com/" class="button button-dark">
                    <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-juxtapose.jpg">
                    <h4 class="product-logo product-logo-small">Juxtapose <span>JS</span></h4>
                    <p class="product-tagline">Easy-to-make frame comparisons.</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="http://soundcite.knightlab.com/" class="button button-dark">
                    <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png">
                    <h4 class="product-logo product-logo-small">Soundcite <span>JS</span></h4>
                    <p class="product-tagline">Seamless inline audio.</p>
                </a>
            </div>
        </div>
        <a href="http://knightlab.northwestern.edu/projects/" class="button button-dark" style="margin-top:1rem;z-index:22;">View More</a>
    </section>

        <footer class="footer-knightlab--dark">
            <div class="container">
                <div class='grid grid-center'>
                    <div class='column-2 column-4-phone column-4-tablet'>
                        <a href="http://knightlab.northwestern.edu" target="_blank">
                            <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-knightlab-stacked-dark-small.png" style="margin-left:auto;">
                        </a>
                        <ul class="list--social text-align-center">
                            <li><a class="link--no-style" href="http://www.twitter.com/knightlab" target="_blank" title="Knight Lab on Twitter"><span class="icon-twitter"></span></a></li>
                            <li><a class="link--no-style" href="https://www.facebook.com/knightlab" target="_blank" title="Knight Lab on Facebook"><span class="icon-facebook"></span></a></li>
                            <li><a class="link--no-style" href="https://github.com/NUKnightLab/" target="_blank" title="Knight Lab on GitHub"><span class="icon-github"></span></a></li>
                        </ul>
                    </div>
                    <div class='column-4 column-5-tablet column-6-phone footer-description'>
                        <p>
                            The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.
                        </p>
                        <div class="grid-size-2 grid-size-2-phone">
                            <div class="grid-item">
                                <a title="Medill School of Journalism, Media, Integrated Marketing Communications" href="http://www.medill.northwestern.edu/" target="_blank">
                                    <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-medill-dark.png">
                                </a>
                            </div>

                            <div class="grid-item">
                                <a title="McCormick School of Engineering" href="http://www.mccormick.northwestern.edu/" target="_blank">
                                    <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-mccormick-dark.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-center">
                    <div class="grid-item">
                    <address itemscope="" itemtype="http://data-vocabulary.org/Organization">
                        <span style="display:none;" itemprop="name" title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name">Knight Lab</span>
                        <span itemprop="tel" class="tel">(847) 467-4971</span>
                        <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="address">
                            <span itemprop="street-address" class="street-address">1845 Sheridan Road</span>
                            <span class="room-num">Fisk #109 &amp; #111</span>
                            <div class="address-group">
                                <span itemprop="locality">Evanston,</span> <span itemprop="region">IL</span> <span itemprop="postal-code">60208 </span>
                                <span style="display:none;" itemprop="geo" itemscope="" itemtype="http://www.data-vocabulary.org/Geo/" class="geo">
                                    Latitude: <span itemprop="latitude">42.056893</span><br>Longitude:
                                    <span itemprop="longitude">-87.676735</span>
                                </span>
                                <a style="display:none;" href="http://knightlab.northwestern.edu" itemprop="url" class="url">Northwesten University Knight Lab | Advancing media innovation through exploration and experimentation.</a>
                            </div>
                        </span>
                    </address>
                    <span class="copyright">© Copyright 2017 Northwestern University</span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.knightlab.com/libs/orangeline/latest/js/orangeline.js"></script>
        <script type="text/javascript">
          {{! This goes here instead of website.js so that we can use the configured value for cdn_url  }}
          EMBED_URL = '{{cdn_url}}/embed/index.html';
        </script>
        <script>
          (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
          })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga('create', 'UA-27829802-1', 'auto');
          ga('send', 'pageview');
        </script>
        <script type="text/template" id='embed-iframe-template'>
          <iframe src='{{ embed_url }}' width='480' height='650' allowfullscreen frameborder='0'></iframe>
        </script>

    </body>

</html>
