body {
  border: 0;
  margin: 0;
}

body:before {
  content: "30em";
  display: none; /* Prevent from displaying. */
}
@media(min-width: $bp-sm) {
  body:before {
    content: "#{$bp-sm}";
  }
}
@media (min-width: $bp-md) {
  body:before {
    content: "#{$bp-md}";
  }
}
@media (min-width: $bp-lg) {
  body:before {
    content: "#{$bp-lg}";
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
