.error {
  padding: 10px;
  font-family: $fontFamily-sansSerif;
  font-weight: bold;
  font-size: $font-size-base + 2;
  line-height: $font-line-height;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  text-align: center;
}
