form {
  margin: 0 auto;
  padding: 3em;
}

#load-btn {
  margin-top: 1em;
}

.data-nav {
  & input {
    vertical-align: top;
    width: 70%;
    border-radius: 6px;
    outline: none;
    line-height: 14px;
    font-size: 14px;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    margin-right: 6px;
    background: transparent;
    border: 2px solid #535a83;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}

.flyout {
  position: relative;
  margin: 1.5em 0;

  &:hover > .flyout-content {
    z-index: 1000;
    left: 0;
    height:auto;
    overflow:visible;
  }
}

.data-selected-column {
  &:not(.selected){
    &:before {
      content: 'Select'
    }
  }
}

.data-nav > p {
  margin-bottom: .5rem;
}

.data-nav > a, .data-nav > li > a {
  text-shadow: none;
  text-decoration: none;
  color: black;
  line-height: 1;
  padding: .5em;
  background-color: #09f;
  color: #fff;
  white-space: nowrap;
  margin: 0 auto;

  &:hover {
    background-color:red;
  }

}

.data-columns > li {
  list-style: none;
}

.flyout-content {
  position:absolute;
  top:100%;
  left:-99999px;
  height:0;
  padding: 0;
  overflow:hidden;
}

.stacked > li{
  display:list-item;
}

.stacked > li > a{
  display:block;
}

// Buttons
button {
  margin:0;
  padding:0;
  box-shadow:none;
  text-shadow:none;
  border:0;
  &:hover {
    box-shadow:none;
    text-shadow:none;
    background: transparent;
  }
}

html input[type="button"], // 1
input[type="reset"],
input[type="submit"],
button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-family:$fontFamily-sansSerif;
  font-size: 0.88889rem;
  background-color: transparent;
  position:relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  vertical-align: middle;
  border-radius: 4px;
  border:3px solid $color-grey--lighter;
  color:  $color-grey--darker;
  box-shadow:none;
  margin-bottom:1rem;
  text-rendering: optimizeLegibility;
  overflow:hidden;

  background-image: none;

  &:hover {
    color: $color-grey--darker;
    border-color: $color-grey--light;
    background-color: lighten($color-grey--lightest, 5%);
    border-color: darken($color-grey--lightest, 10%);
  }
  &.disabled {
    background-color:$color-grey--lighter;
    cursor: default;
    text-shadow:none;
  }
}

#generate-storyline-btn {
  margin: 0;
}
