line {
  z-index: 3;
}

.tick line {
  stroke: rgb(240, 240, 240);
}

path {
  stroke: $color-grey--lighter;
  stroke-width: 2px;
  z-index:0;
}

text {
  font-family: $fontFamily-sansSerif;
  border: 1px solid $color-text-default;
  font-size: $font-size-base - 5;
  color: $color-grey--light;
  fill: $color-grey--light !important;
  @media(min-width: 30em) {
    font-size: $font-size-base - 2;
  }
}

circle[class^="marker"] {
  z-index: 100;
  cursor: pointer;
  border: 6px solid $color-circle;
  stroke: $color-circle;
  stroke-width: 6px;
  fill: $color-circle !important;

  &.active {
    fill: $color-circle-active !important;
    border: 6px solid $color-circle-active;
    stroke: $color-circle-active;
  }
}

g[class^="marker-"], g[class^="text-"] {
  text, path {
    opacity: 0;
  }
  &.active {
    circle {
      fill: $color-circle-active !important;
      border: 6px solid $color-circle-active;
      stroke: $color-circle-active;
    }
    text {
      color: $color-circle-active;
      fill: $color-circle-active !important;
      opacity: 1;
      stroke: $color-circle-active;
    }
    path {
      stroke: $color-circle-active;
      opacity: 1;
    }
  }
}
