.slider-view {
  margin: 0 auto;
  position: relative;
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

.slider-card {
  cursor: pointer;
  float: left;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  height: 200px;
  overflow: auto;

  @media(max-width: 20em) {
    width: 1000px;
    max-width: none;
  }

  .slider-content {
    box-shadow: $shadow-1;
    min-height: 160px;
  }

  &.active {
    .slider-content {
      box-shadow: $shadow-5;
      border: 1px solid $color-text-default;
      h3 {
        background-color: $color-primary;
        color: $color-bg-default;
        border-radius: 6px 6px 0 0;
      }
      p {
        color: $color-text-default;
      }
    }
  }
}

.slider-cards {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  width: max-content;
  &.is-animating {
    -webkit-transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  & .active {
    .slider-content {
      border: 1px solid rgb(219, 30, 70);
    }
  }
}

.slider-content {
  font-family: $fontFamily-sansSerif;
  border: 1px solid $color-grey--light;
  border-radius: 7px;
  font-size: $font-size-base;
  line-height: $font-line-height;

  & p {
    text-align: left;
    padding: 0 $spacing-default 0 $spacing-default;
    color: $color-grey--light;
  }
  h3 {
    margin: 0;
    text-align: left;
    padding: $spacing-default;
    font-weight: bold;
    font-size: $font-size-base;
    color: $color-grey--light;

    span.h3-date {
      font-size: $font-size-base +2;
      font-weight: normal;
      display: block;
    }
  }
}

.nav {
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  height: 16px;
  display: block;
  position: absolute;
  text-align: center;

  & ol {
    margin: 0;
    padding: 0;
  }

  & li {
  top: -5px;
  width: $size-nav-dot;
  height: $size-nav-dot;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: $color-grey--lighter;
  margin-bottom: 2px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: $color-primary;
    width: $size-nav-dot--active;
    height: $size-nav-dot--active;
    margin-bottom: 0px;
  }
  }
}
