.slider-view {
  margin: 0 auto;
  position: relative;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  max-height: 246px;
}

.slider-card {
  cursor: pointer;
  float: left;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  &:not(:last-child) {
    border-right: 20px solid white;
  }

  @media(max-width: 20em) {
    width: 1000px;
    max-width: none;
  }
}

.slider-card.is-active .slider-content {
    box-shadow: $shadow-4;
    border: 1px solid $color-text-default;
}

.slider-card.is-active .slider-content h3 {
  background-color: $color-primary;
  color: $color-bg-default;
  border-radius: 6px 6px 0 0;
}

.slider-card.is-active .slider-content p {
  color: $color-text-default;
}

.slider-content {
  box-shadow: $shadow-1;
  max-height: 200px;
  overflow: hidden;
  -webkit-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slider-content h3 {
  -webkit-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  min-height: 38px;
}

.slider-cards {
  position: relative;
  margin: 0;
  padding: 0;
  width: max-content;
}

.slider-cards.is-animating {
  -webkit-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slider-content {
  font-family: $fontFamily-sansSerif;
  border: 1px solid $color-grey--light;
  border-radius: 7px;
  font-size: $font-size-base;
  line-height: $font-line-height;
}

.slider-content p {
  text-align: left;
  padding: 0 10px 0 10px;
  color: $color-grey--light;
  font-size: 12px;

  @media(min-width: 30em) {
    padding: 0 $spacing-default 0 $spacing-default;
    font-size: 15px;
  }
}

.slider-content h3 {
  margin: 0;
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
  font-size: $font-size-base;
  color: $color-grey--light;
}

.slider-content h3 span.h3-date {
  font-size: $font-size-base;
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;

  @media(min-width: 30em) {
    display: block;
  }
}

.nav {
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  height: 16px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav ol {
  margin: 0;
  padding: 0;
}

.nav li {
  top: -5px;
  width: $size-nav-dot;
  height: $size-nav-dot;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: $color-grey--lighter;
  margin-bottom: 2px;
}

.nav li.is-active {
  background-color: $color-grey--dark;
  width: $size-nav-dot--active;
  height: $size-nav-dot--active;
  margin-bottom: 0px;
}
