.slider-view {
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  overflow: hidden;
  @media(max-width: 20em) {
    max-width: none;
    width: 90%;
  }
}

.slider-card {
  float: left;
  display: block;
  max-width: 480px;
  text-align: center;
  @media(max-width: 20em) {
    width: 980px;
    max-width: none;
  }
}

.slider-cards {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
}

.slider-content {
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.75em;

  & p {
    text-align: left;
  }
}

.nav {
  width: 100%;
  bottom: 9px;
  height: 16px;
  display: block;
  position: absolute;
  text-align: center;

  & ol {
    margin: 0;
    padding: 0;
  }

  & li {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);

    &:hover {
      cursor: pointer;
    }
  }

  & .active {
    background-color: red;
  }
}
